# Airflow (dev)
# UI: http://localhost:8082

AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql+psycopg2://campus:campus@postgres:5432/airflow
AIRFLOW__CORE__FERNET_KEY=0123456789abcdef0123456789abcdef
AIRFLOW__WEBSERVER__SECRET_KEY=0123456789abcdef0123456789abcdef

_AIRFLOW_WWW_USER_USERNAME=admin
_AIRFLOW_WWW_USER_PASSWORD=admin
_AIRFLOW_WWW_USER_FIRSTNAME=Admin
_AIRFLOW_WWW_USER_LASTNAME=User
_AIRFLOW_WWW_USER_EMAIL=admin@example.com
