# InfluxDB 2.x (dev)
INFLUXDB_URL=http://influxdb:8086
INFLUXDB_ORG=smart-campus

# Used by clients (API/Flink)
INFLUXDB_TOKEN=test-influxdb-token-32-chars-long!

# Used by InfluxDB docker init + setup.sh
DOCKER_INFLUXDB_INIT_MODE=setup
DOCKER_INFLUXDB_INIT_USERNAME=admin
DOCKER_INFLUXDB_INIT_PASSWORD=adminadminadmin
DOCKER_INFLUXDB_INIT_ORG=smart-campus
DOCKER_INFLUXDB_INIT_BUCKET=campus_raw
DOCKER_INFLUXDB_INIT_RETENTION=168h
DOCKER_INFLUXDB_INIT_ADMIN_TOKEN=test-influxdb-token-32-chars-long!
